<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

    <style type="text/css">
        #mynetwork {
            width: 1000px;
            height: 900px;
            border: 1px solid lightgray;
        }

        table {
		  border-collapse: collapse;
		  width: 100%;
		}

		th, td {
		  text-align: left;
		  padding: 8px;
		}

		tr:nth-child(even){background-color: #f2f2f2}

		th {
		  background-color: #4CAF50;
		  color: white;
		}
    </style>
</head>
<body>

<center><div id="mynetwork"></div></center>
<pre id="eventSpan"></pre>

<table id="mytable"></table>

<center><div id="mynetwork2"></div></center>

<!--<button onclick="new vis.Network(container, data, options)">Draw it</button>-->


<script src="app/static/js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>

<script src="app/static/js/graph.js"></script>
<script src="app/static/js/networkAuxiliar.js"></script>

</body>
</html>