#mynetwork, #mynetwork2 {
  width: 1000px;
  height: 800px;
  border: 1px solid lightgray;
}

.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

#listColumn1, #listColumn2 {
  max-width: 400px;
}

#mySubmit {
  padding: 15px;
}

* {
  box-sizing: border-box;
}

#myInput1, #myInput2 {
  background-image: url('/app/static/img/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#mySelect1, #mySelect2 {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: auto;
}

#mySelect1 option, #mySelect2 option {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  width: 500px;
}

#mySelect1 option:hover:not(.header), #mySelect2 option:hover:not(.header) {
  background-color: #eee;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #007bcc;
  color: white;
}