#mynetwork, #mynetwork2 {
  height: 650px;
  border: 1px solid lightgray;
}

.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

#mySubmit {
  padding: 15px;
}

* {
  box-sizing: border-box;
}

#myInput1, #myInput2 {
  background-image: url('/app/static/img/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#mySelect1, #mySelect2 {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-x: auto;
  height: 625px;
}

#mySelect1 option, #mySelect2 option {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  width: 1000px;
}

#mySelect1 option:hover:not(.header), #mySelect2 option:hover:not(.header) {
  background-color: #eee;
}

table {
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #007bcc;
  color: white;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

.col-2 {
  flex: none;
  max-width: none;
}

@media only screen and (min-width: 991px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.inactive {
  opacity: 0.6;
}